In [ ]:
1.Tasks to Perform
a. Data Loading
● Load the dataset using pandas.
● Display the first few rows using .head().

In [1]:
import pandas as pd

file_path = r"C:\Users\Ashish\OneDrive\Desktop\Jupyter Notebook\student-mat.xlsx"

data = pd.read_excel(file_path)

print("First few rows of the dataset:")
print(data.head())

First few rows of the dataset:
  school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3  \
0  GP;"F";18;"U";"GT3";"A";4;4;"at_home";"teacher...
1  GP;"F";17;"U";"GT3";"T";1;1;"at_home";"other";...
2  GP;"F";15;"U";"LE3";"T";1;1;"at_home";"other";...
3  GP;"F";15;"U";"GT3";"T";4;2;"health";"services...
4  GP;"F";16;"U";"GT3";"T";3;3;"other";"other";"h...

   school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G4
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

In [ ]:
b.Data Exploration 
i: Check for missing values using .isnull().sum().
ii: Display column data types using .dtypes.
iii: Understand the dataset's size using .shape.

In [2]:
import pandas as pd
file_path = r"C:\Users\Ashish\OneDrive\Desktop\Jupyter Notebook\student-mat.xlsx"  # Update the file path if necessary
data = pd.read_excel(file_path)

# i. Check for missing values
missing_values = data.isnull().sum()
print("\nMissing values in each column:")
print(missing_values)

Missing values in each column:
school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3      0
school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G4    395
dtype: int64

In [3]:
import pandas as pd

file_path = r"C:\Users\Ashish\OneDrive\Desktop\Jupyter Notebook\student-mat.xlsx"  # Update the file path if necessary
data = pd.read_excel(file_path)

# ii. Display column data types
column_types = data.dtypes
print("\nColumn data types:")
print(column_types)

Column data types:
school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3     object
school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G4    float64
dtype: object

In [4]:
import pandas as pd

file_path = r"C:\Users\Ashish\OneDrive\Desktop\Jupyter Notebook\student-mat.xlsx"  # Update the file path if necessary
data = pd.read_excel(file_path)

# iii. Understand the dataset's size
dataset_size = data.shape
print("\nDataset size (rows, columns):")
print(dataset_size)

Dataset size (rows, columns):
(395, 2)

In [ ]:
c. Data Cleaning
i. Handle missing values (e.g., replace them with the median or remove rows).
ii. Remove duplicate entries using .drop_duplicates().

In [5]:
import pandas as pd

file_path = r"C:\Users\Ashish\OneDrive\Desktop\Jupyter Notebook\student-mat.xlsx"  # Update the path if necessary
data = pd.read_excel(file_path)

# i. Handle missing values
data = data.fillna(data.median(numeric_only=True))

# ii. Remove duplicate entries
data = data.drop_duplicates()
print("After Data Cleaning:")

missing_values_after = data.isnull().sum()
print("\nMissing values after cleaning:")
print(missing_values_after)

print(f"\nDataset size after cleaning (rows, columns): {data.shape}")

After Data Cleaning:

Missing values after cleaning:
school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3      0
school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G4    395
dtype: int64

Dataset size after cleaning (rows, columns): (395, 2)

In [ ]:
d. Data Analysis Questions
i. What is the average score in math (G3)?
ii. How many students scored above 15 in their final grade (G3)?
iii. Is there a correlation between study time (study time) and the final grade (G3)?
iv. Which gender has a higher average final grade (G3)?

In [7]:
import pandas as pd

file_path = r"C:\Users\Ashish\OneDrive\Desktop\Jupyter Notebook\student-mat.xlsx"

try:
    raw_data = pd.read_excel(file_path)
  
    data = pd.DataFrame([x.split(';') for x in raw_data.iloc[:, 0].str.strip().values],
                       columns=['school', 'sex', 'age', 'address', 'famsize', 'pstatus',
                               'medu', 'fedu', 'mjob', 'fjob', 'reason', 'guardian',
                               'traveltime', 'studytime', 'failures', 'schoolsup',
                               'famsup', 'paid', 'activities', 'nursery', 'higher',
                               'internet', 'romantic', 'famrel', 'freetime', 'goout',
                               'dalc', 'walc', 'health', 'absences', 'g1', 'g2', 'g3'])
    
    numeric_columns = ['age', 'studytime', 'g1', 'g2', 'g3']
    for col in numeric_columns:
        data[col] = data[col].str.replace('"', '').str.strip()
        data[col] = pd.to_numeric(data[col], errors='coerce')

    print("\nColumns in the dataset after loading:", data.columns)
    print("\nFirst few rows of the processed data:")
    print(data.head())

    # i. What is the average score in math (G3)?
    average_score = data['g3'].mean()
    print(f"\nAverage score in math (G3): {average_score:.2f}")
except Exception as e:
    print(f"Error processing the file: {e}")
    raise

Columns in the dataset after loading: Index(['school', 'sex', 'age', 'address', 'famsize', 'pstatus', 'medu', 'fedu',
       'mjob', 'fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'dalc',
       'walc', 'health', 'absences', 'g1', 'g2', 'g3'],
      dtype='object')

First few rows of the processed data:
  school  sex  age address famsize pstatus medu fedu       mjob        fjob  \
0     GP  "F"   18     "U"   "GT3"     "A"    4    4  "at_home"   "teacher"
1     GP  "F"   17     "U"   "GT3"     "T"    1    1  "at_home"     "other"
2     GP  "F"   15     "U"   "LE3"     "T"    1    1  "at_home"     "other"
3     GP  "F"   15     "U"   "GT3"     "T"    4    2   "health"  "services"
4     GP  "F"   16     "U"   "GT3"     "T"    3    3    "other"     "other"

   ... famrel freetime goout  dalc walc health absences  g1  g2  g3
0  ...      4        3     4     1    1      3        6   5   6   6
1  ...      5        3     3     1    1      3        4   5   5   6
2  ...      4        3     2     2    3      3       10   7   8  10
3  ...      3        2     2     1    1      5        2  15  14  15
4  ...      4        3     2     1    2      5        4   6  10  10

[5 rows x 33 columns]

Average score in math (G3): 10.42

In [8]:
import pandas as pd

file_path = r"C:\Users\Ashish\OneDrive\Desktop\Jupyter Notebook\student-mat.xlsx"

try:
    raw_data = pd.read_excel(file_path)
    
    data = pd.DataFrame([x.split(';') for x in raw_data.iloc[:, 0].str.strip().values],
                       columns=['school', 'sex', 'age', 'address', 'famsize', 'pstatus',
                               'medu', 'fedu', 'mjob', 'fjob', 'reason', 'guardian',
                               'traveltime', 'studytime', 'failures', 'schoolsup',
                               'famsup', 'paid', 'activities', 'nursery', 'higher',
                               'internet', 'romantic', 'famrel', 'freetime', 'goout',
                               'dalc', 'walc', 'health', 'absences', 'g1', 'g2', 'g3'])
    
    numeric_columns = ['age', 'studytime', 'g1', 'g2', 'g3']
    for col in numeric_columns:
        data[col] = data[col].str.replace('"', '').str.strip()
        data[col] = pd.to_numeric(data[col], errors='coerce')

    print("\nColumns in the dataset after loading:", data.columns)
    print("\nFirst few rows of the processed data:")
    print(data.head())

   # ii. How many students scored above 15 in their final grade (G3)?
    students_above_15 = data[data['g3'] > 15].shape[0]
    print(f"Number of students who scored above 15 in their final grade (G3): {students_above_15}")
except Exception as e:
    print(f"Error processing the file: {e}")
    raise

Columns in the dataset after loading: Index(['school', 'sex', 'age', 'address', 'famsize', 'pstatus', 'medu', 'fedu',
       'mjob', 'fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'dalc',
       'walc', 'health', 'absences', 'g1', 'g2', 'g3'],
      dtype='object')

First few rows of the processed data:
  school  sex  age address famsize pstatus medu fedu       mjob        fjob  \
0     GP  "F"   18     "U"   "GT3"     "A"    4    4  "at_home"   "teacher"
1     GP  "F"   17     "U"   "GT3"     "T"    1    1  "at_home"     "other"
2     GP  "F"   15     "U"   "LE3"     "T"    1    1  "at_home"     "other"
3     GP  "F"   15     "U"   "GT3"     "T"    4    2   "health"  "services"
4     GP  "F"   16     "U"   "GT3"     "T"    3    3    "other"     "other"

   ... famrel freetime goout  dalc walc health absences  g1  g2  g3
0  ...      4        3     4     1    1      3        6   5   6   6
1  ...      5        3     3     1    1      3        4   5   5   6
2  ...      4        3     2     2    3      3       10   7   8  10
3  ...      3        2     2     1    1      5        2  15  14  15
4  ...      4        3     2     1    2      5        4   6  10  10

[5 rows x 33 columns]
Number of students who scored above 15 in their final grade (G3): 40

In [9]:
import pandas as pd

file_path = r"C:\Users\Ashish\OneDrive\Desktop\Jupyter Notebook\student-mat.xlsx"

try:
    raw_data = pd.read_excel(file_path)
    
    data = pd.DataFrame([x.split(';') for x in raw_data.iloc[:, 0].str.strip().values],
                       columns=['school', 'sex', 'age', 'address', 'famsize', 'pstatus',
                               'medu', 'fedu', 'mjob', 'fjob', 'reason', 'guardian',
                               'traveltime', 'studytime', 'failures', 'schoolsup',
                               'famsup', 'paid', 'activities', 'nursery', 'higher',
                               'internet', 'romantic', 'famrel', 'freetime', 'goout',
                               'dalc', 'walc', 'health', 'absences', 'g1', 'g2', 'g3'])
    
    numeric_columns = ['age', 'studytime', 'g1', 'g2', 'g3']
    for col in numeric_columns:
        data[col] = data[col].str.replace('"', '').str.strip()
        data[col] = pd.to_numeric(data[col], errors='coerce')

    print("\nColumns in the dataset after loading:", data.columns)
    print("\nFirst few rows of the processed data:")
    print(data.head())

     # iii. Is there a correlation between study time (studytime) and the final grade (G3)?
    correlation_studytime_g3 = data['studytime'].corr(data['g3'])
    print(f"Correlation between study time and final grade (G3): {correlation_studytime_g3:.2f}")

except Exception as e:
    print(f"Error processing the file: {e}")
    raise

Columns in the dataset after loading: Index(['school', 'sex', 'age', 'address', 'famsize', 'pstatus', 'medu', 'fedu',
       'mjob', 'fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'dalc',
       'walc', 'health', 'absences', 'g1', 'g2', 'g3'],
      dtype='object')

First few rows of the processed data:
  school  sex  age address famsize pstatus medu fedu       mjob        fjob  \
0     GP  "F"   18     "U"   "GT3"     "A"    4    4  "at_home"   "teacher"
1     GP  "F"   17     "U"   "GT3"     "T"    1    1  "at_home"     "other"
2     GP  "F"   15     "U"   "LE3"     "T"    1    1  "at_home"     "other"
3     GP  "F"   15     "U"   "GT3"     "T"    4    2   "health"  "services"
4     GP  "F"   16     "U"   "GT3"     "T"    3    3    "other"     "other"

   ... famrel freetime goout  dalc walc health absences  g1  g2  g3
0  ...      4        3     4     1    1      3        6   5   6   6
1  ...      5        3     3     1    1      3        4   5   5   6
2  ...      4        3     2     2    3      3       10   7   8  10
3  ...      3        2     2     1    1      5        2  15  14  15
4  ...      4        3     2     1    2      5        4   6  10  10

[5 rows x 33 columns]
Correlation between study time and final grade (G3): 0.10

In [10]:
import pandas as pd

file_path = r"C:\Users\Ashish\OneDrive\Desktop\Jupyter Notebook\student-mat.xlsx"

try:
    raw_data = pd.read_excel(file_path)

    data = pd.DataFrame([x.split(';') for x in raw_data.iloc[:, 0].str.strip().values],
                       columns=['school', 'sex', 'age', 'address', 'famsize', 'pstatus',
                               'medu', 'fedu', 'mjob', 'fjob', 'reason', 'guardian',
                               'traveltime', 'studytime', 'failures', 'schoolsup',
                               'famsup', 'paid', 'activities', 'nursery', 'higher',
                               'internet', 'romantic', 'famrel', 'freetime', 'goout',
                               'dalc', 'walc', 'health', 'absences', 'g1', 'g2', 'g3'])
    
    numeric_columns = ['age', 'studytime', 'g1', 'g2', 'g3']
    for col in numeric_columns:
        data[col] = data[col].str.replace('"', '').str.strip()
        data[col] = pd.to_numeric(data[col], errors='coerce')

    print("\nColumns in the dataset after loading:", data.columns)
    print("\nFirst few rows of the processed data:")
    print(data.head())

  # iv. Which gender has a higher average final grade (G3)?
    average_score_by_gender = data.groupby('sex')['g3'].mean()
    print(f"\nAverage final grade (G3) by gender:\n{average_score_by_gender}")


except Exception as e:
    print(f"Error processing the file: {e}")
    raise

Columns in the dataset after loading: Index(['school', 'sex', 'age', 'address', 'famsize', 'pstatus', 'medu', 'fedu',
       'mjob', 'fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'dalc',
       'walc', 'health', 'absences', 'g1', 'g2', 'g3'],
      dtype='object')

First few rows of the processed data:
  school  sex  age address famsize pstatus medu fedu       mjob        fjob  \
0     GP  "F"   18     "U"   "GT3"     "A"    4    4  "at_home"   "teacher"
1     GP  "F"   17     "U"   "GT3"     "T"    1    1  "at_home"     "other"
2     GP  "F"   15     "U"   "LE3"     "T"    1    1  "at_home"     "other"
3     GP  "F"   15     "U"   "GT3"     "T"    4    2   "health"  "services"
4     GP  "F"   16     "U"   "GT3"     "T"    3    3    "other"     "other"

   ... famrel freetime goout  dalc walc health absences  g1  g2  g3
0  ...      4        3     4     1    1      3        6   5   6   6
1  ...      5        3     3     1    1      3        4   5   5   6
2  ...      4        3     2     2    3      3       10   7   8  10
3  ...      3        2     2     1    1      5        2  15  14  15
4  ...      4        3     2     1    2      5        4   6  10  10

[5 rows x 33 columns]

Average final grade (G3) by gender:
sex
"F"     9.966346
"M"    10.914439
Name: g3, dtype: float64

In [ ]:
e. Data Visualization
i. Plot a histogram of final grades (G3).
ii. Create a scatter plot between study time (study time) and final grade (G3).
iii. Create a bar chart comparing the average scores of male and female students.

In [11]:
 import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Path to the Excel file
file_path = r"C:\Users\Ashish\OneDrive\Desktop\Jupyter Notebook\student-mat.xlsx"

# Load and process the data
raw_data = pd.read_excel(file_path)
data = pd.DataFrame([x.split(';') for x in raw_data.iloc[:, 0].str.strip().values],
                   columns=['school', 'sex', 'age', 'address', 'famsize', 'pstatus',
                           'medu', 'fedu', 'mjob', 'fjob', 'reason', 'guardian',
                           'traveltime', 'studytime', 'failures', 'schoolsup',
                           'famsup', 'paid', 'activities', 'nursery', 'higher',
                           'internet', 'romantic', 'famrel', 'freetime', 'goout',
                           'dalc', 'walc', 'health', 'absences', 'g1', 'g2', 'g3'])

# Clean and convert numeric columns
numeric_columns = ['studytime', 'g3']
for col in numeric_columns:
    data[col] = data[col].str.replace('"', '').str.strip()
    data[col] = pd.to_numeric(data[col], errors='coerce')

# i. Histogram of final grades (G3)
plt.figure(figsize=(10, 6))
plt.hist(data['g3'], bins=20, color='skyblue', edgecolor='black')
plt.title('Distribution of Final Grades (G3)', pad=15)
plt.xlabel('Final Grade')
plt.ylabel('Number of Students')
plt.grid(True, linestyle='--', alpha=0.7)
plt.savefig('final_grades_histogram.png', bbox_inches='tight', dpi=300)
plt.close()

# Print some statistics to accompany the visualizations
print("\nGrade Distribution Statistics:")
print(data['g3'].describe())

Grade Distribution Statistics:
count    395.000000
mean      10.415190
std        4.581443
min        0.000000
25%        8.000000
50%       11.000000
75%       14.000000
max       20.000000
Name: g3, dtype: float64

In [12]:
 import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

file_path = r"C:\Users\Ashish\OneDrive\Desktop\Jupyter Notebook\student-mat.xlsx"

raw_data = pd.read_excel(file_path)
data = pd.DataFrame([x.split(';') for x in raw_data.iloc[:, 0].str.strip().values],
                   columns=['school', 'sex', 'age', 'address', 'famsize', 'pstatus',
                           'medu', 'fedu', 'mjob', 'fjob', 'reason', 'guardian',
                           'traveltime', 'studytime', 'failures', 'schoolsup',
                           'famsup', 'paid', 'activities', 'nursery', 'higher',
                           'internet', 'romantic', 'famrel', 'freetime', 'goout',
                           'dalc', 'walc', 'health', 'absences', 'g1', 'g2', 'g3'])

numeric_columns = ['studytime', 'g3']
for col in numeric_columns:
    data[col] = data[col].str.replace('"', '').str.strip()
    data[col] = pd.to_numeric(data[col], errors='coerce')

# ii. Scatter plot between study time and final grade
plt.figure(figsize=(10, 6))
plt.scatter(data['studytime'], data['g3'], alpha=0.5, color='cornflowerblue')
plt.title('Study Time vs Final Grade', pad=15)
plt.xlabel('Study Time (hours)')
plt.ylabel('Final Grade (G3)')

z = np.polyfit(data['studytime'].dropna(), data['g3'].dropna(), 1)
p = np.poly1d(z)
plt.plot(data['studytime'].dropna(), p(data['studytime'].dropna()), "r--", alpha=0.8, 
         label=f'Trend line (correlation: {data["studytime"].corr(data["g3"]):.2f})')
plt.legend()
plt.grid(True, linestyle='--', alpha=0.7)
plt.savefig('study_time_vs_grade_scatter.png', bbox_inches='tight', dpi=300)
plt.close()

print("\nAverage Grades by Gender:")
print(data.groupby('sex')['g3'].agg(['mean', 'count', 'std']))

Average Grades by Gender:
          mean  count       std
sex
"F"   9.966346    208  4.622338
"M"  10.914439    187  4.495297

In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

file_path = r"C:\Users\Ashish\OneDrive\Desktop\Jupyter Notebook\student-mat.xlsx"

raw_data = pd.read_excel(file_path)
data = pd.DataFrame([x.split(';') for x in raw_data.iloc[:, 0].str.strip().values],
                   columns=['school', 'sex', 'age', 'address', 'famsize', 'pstatus',
                           'medu', 'fedu', 'mjob', 'fjob', 'reason', 'guardian',
                           'traveltime', 'studytime', 'failures', 'schoolsup',
                           'famsup', 'paid', 'activities', 'nursery', 'higher',
                           'internet', 'romantic', 'famrel', 'freetime', 'goout',
                           'dalc', 'walc', 'health', 'absences', 'g1', 'g2', 'g3'])

numeric_columns = ['studytime', 'g3']
for col in numeric_columns:
    data[col] = data[col].str.replace('"', '').str.strip()
    data[col] = pd.to_numeric(data[col], errors='coerce')

    
plt.figure(figsize=(8, 6))
avg_scores = data.groupby('sex')['g3'].mean()
bars = plt.bar(avg_scores.index, avg_scores.values, color=['lightblue', 'lightpink'])
plt.title('Average Final Grades by Gender', pad=15)
plt.xlabel('Gender')
plt.ylabel('Average Final Grade (G3)')

for bar in bars:
    height = bar.get_height()
    plt.text(bar.get_x() + bar.get_width()/2., height,
             f'{height:.2f}',
             ha='center', va='bottom')

plt.grid(True, linestyle='--', alpha=0.7)
plt.savefig('gender_comparison_bar.png', bbox_inches='tight', dpi=300)
plt.close()

print("\nStudy Time Statistics:")
print(data['studytime'].describe())

Study Time Statistics:
count    395.000000
mean       2.035443
std        0.839240
min        1.000000
25%        1.000000
50%        2.000000
75%        2.000000
max        4.000000
Name: studytime, dtype: float64